http://localhost:8080 {
	route * {
		jwtauth {
			sign_key TkZMNSowQmMjOVU2RUB0bm1DJkU3U1VONkd3SGZMbVk=
			from_query access_token token
			from_header X-Api-Token
			from_cookies user_session
			user_claims uid user_id username login
			issuer_whitelist https://api.example.com
			audience_whitelist https://api.example.io https://learn.example.com
			meta_claims "IsAdmin -> is_admin" "gender"
		}
		respond 200 {
			body "User Authenticated with ID: {http.auth.user.id}"
		}
	}
}
